- @title = "Contact"
- @meta_description = "Contact Justin Wilson."

.container
  .row.spacer
  .row
    .span9
      %h1.light-header Contact Justin
  .row.spacer
  .row
    = render "shared/sweet_nav"
  .row  
    .span8
      %table.table.table-striped.table-bordered
        %tbody
          %tr
            %td
              %h2#themessagesystemlabel
                %small What
            %td
              %h2#themessagesystem email@example.com
          %tr
            %td
              %h2 
                %small Phone
            %td
              %h2#contactdigits 864-555-1234
          %tr
            %td
              %h2 
                %small Twitter
            %td
              %h2
                %a{:href => "https://twitter.com/jwilsjustin", :target => "_blank"}
                  @jwilsjustin
      %h2 Let's talk
      %p Designs are ideas. The word design is really an awesome term. For me design is all about decisions. And I hold to the opinion that some decisions don't need a reason for them.
      %p Almost any practice that ends with the word design is something I might find interesting. I feel that anything that is thought about is designed.
  .row.spacer
