- @title = "Justin Wilson"
- @meta_description = "The website for Justin Wilson of Greenville SC."

.container
  .row
    .span12.spacer
      %h1 &nbsp;
  .row
    .span10
      %h1.light-header I like to design things.
      %hr
  .row
    = render "shared/sweet_nav"
    .span9
      %h2 Design is everywhere.
      %p It's in the chairs you sit in and in the cell phone in your pocket. It's in the words of a book and in the art on your walls. Design isn't just visuals. Designs are ideas.
      %p I'm always up for a new way of looking at things.
      %h2 How I roll.
      %p I design &amp/or build things. I have experience in print and web. More recently I have worked on the web (<a href="http://rubyonrails.org/" target="_blank">Rails</a> baby!) designing, building, and implementing applications.
      %p I use HTML (or <a href="http://haml.info/" target="_blank">HAML</a>), CSS (or <em>some</em> <a href="http://lesscss.org/" target="_blank">LESS</a>), and Rails (mhm). Sometimes I'll try some JavaScript.
      %p (I also use Photoshop, Illustrator, and InDesign. And Oxford commas.)
      %hr
      .indentation
        %a.minimal-indent{:href => "http://twitter.com/jwilsjustin", :target => "_blank"}
          %strong @jwilsjustin 
          on Twitter &raquo;
