- @title = "Justin Wilson"
- @meta_description = "The website for Justin Wilson of Greenville SC."

.container
  .row
    = render "shared/sweet_nav"
  .spacer
  .row
    .span10
      %h1.light-header.slate I like to design things.
  .spacer
  .row
    .span8
      %h2 I'm a broad-spectrum designer designer dfdf d bff
      %p By that I mean I've worked with both web and print. I kind of have a foot in each camp.
      %h2 Design is everywhere.
      %p It's in the chairs you sit in and in the cell phone in your pocket. It's in the words of a book and in the art on your walls. Design isn't just visuals. Designs are ideas.
      %h2 How I roll.
      %p I design &amp;/or build things. More recently I have worked on the web designing, building, and implementing applications.
      %p I use HTML, CSS, and Rails. Sometimes I'll try some JavaScript/jQuery.
      %p (I also use Photoshop, Illustrator, and InDesign. And Oxford commas.)
  .row.spacer
