- @title = "Resume"
- @meta_description = "Justin Wilson's resume."

.container
  .row
    .span12.spacer
      %h1 &nbsp;
  .row
    .span12
      %h1.light-header Resume
      %hr
  .row
    = render "shared/sweet_nav"   
    .span9
      %h2 Design is everywhere.
    

