- @title = "Resume"
- @meta_description = "Justin Wilson's resume."

.container
  .row
    = render "shared/sweet_nav"
  .spacer
  .row
    .span9
      %h1.light-header.salmon R&egrave;sum&egrave;
  .spacer
  
  .row
    .span9
      %p Hailing from the great city Greenville in upstate South Carolina.  
  .row
    .span8.section
      %h2 Education
      .item
        %p
          %strong B.S. Graphic Design<br />
          %em Minor: Rhetoric &amp; Public Address<br />
          Graduate Cum Laude
        %p 
          Bob Jones University<br />
          May 2011
  .row
    .span8.section
      %h2 Experience
      .item
        %p
          %strong Web Technology
          %ul
            %li HTML
            %li CSS
            %li Javascript <span class="subtle breaker">(mostly jQuery of course)</span>
            %li Ruby on Rails
            %li GitHub
            %li SEO <span class="subtle">(basic knowledge)</span>
      .item
        %p 
          %strong Design Technology
          %ul
            %li Photoshop
            %li Illustrator
            %li InDesign
  .row    
    .span8.section
      %h2 Employment &amp; Extracurricular
      .item
        %p
          %strong AudiogoN<br />
          %em Senior Developer
        %blockquote
          %p.subtle
            Build and maintain the high-end audio community of Audiogon, Inc. Full-stack web development skills.
        %p March 2013 - Present
      .item
        %p 
          %strong Dealer Ignition<br />
          %em Designer/Developer
        %blockquote
          %p.subtle
            I helped design, build, and implement web software. I also designed materials and 
            participated in marketing efforts to promote various Dealer Ignition products.
        %p December 2010 - March 2013
      .item
        %p 
          %strong Bob Jones University Usher Crew<br />
          %em Usher
        %p January 2010 - May 2011
      .item
        %p 
          %strong Bob Jones University Community Service Council<br />
          %em Executive Council Member
        %p March 2008 - May 2011
      .item
        %p 
          %strong The Collegian
          <span class="subtle breaker">(BJU School Newspaper)</span>
          %em <span class="breaker-block">Ad Designer / Design Editor</span>
        %p August 2010 - May 2011

    .span8.section
      %p PDF version <a href="/resume.pdf">here</>
  .row.spacer
