- @title = "Resume"
- @meta_description = "Justin Wilson's resume."

.container
  .row.spacer
  .row
    .span9
      %h1.light-header R&egrave;sum&egrave;
  .row
    = render "shared/sweet_nav"   
    .span9
      .section
        %h2 Education
        %p.pull-left
          B.S. Graphic Design<br />
          %em Minor: Rhetoric &amp; Public Address
        %p.pull-right <strong>May 2011</strong>
        .clearfix  

      .section
        %h2 Extracurricular
        %p.pull-left Bob Jones University Community Service Council
        %p.pull-right <strong>March 2008 - May 2011</strong>
        %p.pull-left <em>The Collegian</em> (BJU School Newspaper)
        %p.pull-right <strong>August 2010 - May 2011</strong>
        .clearfix

      .section
        %h2 Employment
        %p.pull-left Dealer Ignition
        %p.pull-right <strong>December 2010 - November 2012</strong>
        %p.pull-left Bob Jones University Usher Crew
        %p.pull-right <strong>January 2010 - May 2011</strong>
        %p.pull-left Northland Camp & Conference Center
        %p.pull-right <strong>Summer 2007 / Summer 2008</strong>
        .clearfix

      .section
        %h2 Areas of Training &amp; Experience
        %p 
          Design Technology
          %ul
            %li Photoshop
            %li Illustrator
            %li InDesign
        %p
          Web Technology
          %ul
            %li HTML
            %li CSS
            %li Ruby on Rails (intermediate-level)
      

