- @title = "Portfolio"
- @meta_description = "Justin Wilson's work."

.container
  .row.spacer
  .row
    .span10
      %h1.light-header Portfolio
      %hr
  .row
    = render "shared/sweet_nav"   
    .span9
      %h2 Design is everywhere.
