<div class="container">
  <div class="hero-unit">
    <h1>I like to design things</h1>
    <br />
    <p>Almost any practice that ends with the word design is something I would like. I feel like anything that is thought about is designed.</p>
    <br />
    <a href="http://twitter.com/intent/user?screen_name=jwilsjustin" class="btn btn-info btn-large" target="_blank"><strong>@jwilsjustin</strong> on Twitter &raquo;</a>
  </div>
  <div class="row">
    <div class="span9">
      <h2>Design is everywhere. </h2>
      <p>It's in the chairs you sit in and in the cell phone in your pocket. It's in the words of a book and in the art on your walls. Design isn't just visuals. Designs are ideas. The word design is really an awesome term. For me design is all about decisions. And I hold to the opinion that some decisions don't need a reason for them.</p>
      <p>I'm always up for a new way of looking at things. My ideas stem from their purposes, and my design philosophy is simple: make things say what you want them to say.</p>
      </div>
    <div class="span3">
      <h2>Profiles</h2>
      <ul>
        <li><a href="http://twitter.com/intent/user?screen_name=jwilsjustin">Twitter &raquo;</a></li>
        <li><a href="http://dribbble.com/wilsonthefirst">Dribbble &raquo;</a></li>
        <li><a href="http://www.behance.net/justinwilson">Behance &raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
