.container
  .row
    .span12.spacer
      %h1 &nbsp;
  .row
    .span12
      %h1.light-header I like to design things.
      %hr
  .row
    .span3.pull-right
      %img.self{:src => "", :height => "40px", :width => "60px"}
    .span8
      %h2 Design is everywhere.
      %p It's in the chairs you sit in and in the cell phone in your pocket. It's in the words of a book and in the art on your walls. Design isn't just visuals. Designs are ideas. The word design is really an awesome term. For me design is all about decisions. And I hold to the opinion that some decisions don't need a reason for them.
      %p I'm always up for a new way of looking at things. My ideas stem from their purposes, and my design philosophy is simple: make things say what you want them to say.
      %hr
      .indentation
        %a.minimal-indent{:href => "http://twitter.com/jwilsjustin", :target => "_blank"}
          %strong @jwilsjustin 
          on Twitter &raquo;

    .span3.offset1
      %h2 Profiles
      %ul 
        %li 
          %a{:href => "https://twitter.com/jwilsjustin"}
            Twitter &raquo;
        %li 
          %a{:href => "www.linkedin.com/pub/justin-wilson/3/a15/223"}
            LinkedIn &raquo;
        %li  
          %a{:href => "http://dribbble.com/wilsonthefirst"}
            Dribbble &raquo;
      %hr
