<script async src="https://www.googletagmanager.com/gtag/js?id=G-DTKD315H69"></script>
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-DTKD315H69', { 'debug_mode': true });
