<div class="span3 pull-right" id="sweet_nav">
  <div class="vr pull-left"></div>
  <div class="self_img_div">
    <a href="/"
      ><img
        alt="pic of justin"
        class="self"
        src="/images/self-portrait-site.png"
    /></a>
  </div>
  <ul>
    <li class="hidden-phone">
      <a href="/" class="block-link block-link-white"
        ><i class="icon-home"></i
      ></a>
    </li>
    <li><a href="/resume.html" class="block-link block-link-red">Work</a></li>
    <li><a href="/contact.html" class="block-link">Contact</a></li>
  </ul>
  <div class="clearfix"></div>
</div>
