/*
 *= require 'font-awesome'
 *= require_self
 *= require_tree .
*/
body {
  background: #ffffff url(grid.png) repeat;
}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5)
only screen and (min-device-pixel-ratio : 1.5) {
  body{
    background: #ffffff url(grid@2X.png) repeat;
    background-size: 198px 198px;
  }
}
*::selection {
  background: #e7aca5;
  }
*::-moz-selection {
  background: #e7aca5;
}
.light-header {
  color: #d26254;
  font-size: 79px;
  line-height: 83px;
  font-weight: lighter;
}
.tweet {
  font-size: 16px;
  line-height: 20px;
  p {
    margin: 0;
  }
}
.spacer {
  margin: 0;
  padding: 0;
  height: 60px;
}
.section {
  margin: 20px 0;
}
.item {
  margin: 40px 0;
}
.subtle {
  color: #bbbbbb;
}
.section h2 {
  color: #d26254;
  font-size: 32px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  margin-bottom: 10px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .row .pull-right {
    float: right;
  }
}
@media only screen and (max-width: 770px) {
  .spacer {
    height: 15px;
  }
  .light-header {
    font-size: 46px;
    line-height: 46px;
  }
  hr {
    margin: 15px 0
  }
}
ul li {
  line-height: 24px;
}
.block-link {
  width: 100px;
  margin: 5px 0;
  background-color:#bbbbbb;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  border-radius:9px;
  display:inline-block;
  color:#ffffff;
  font-size:23px;
  font-weight:bold;
  padding:8px 39px;
  text-decoration:none;
  text-shadow:1px 1px 0px #777777;
}
.block-link:hover {
  background-color:#c3c3c3;
  text-decoration: none;
  color: #ffffff;
}
.block-link:active {
  position:relative;
  top:1px;
}
.block-link-small {
  padding: 5px;
  width: 50px;
  text-align: center;
  margin-right: 5px;
}
.block-link-clear {
  background-color: transparent;
  color: #555;
  text-shadow: none;
}
.block-link-clear:hover {
  background-color: #fff;
  color: #555;
  text-shadow: none;
}
.block-link-red {
  background-color:#d26254;
  text-shadow:1px 1px 0px #983428; /* -6 from #d26254 */
}
.block-link-red:hover {
  background-color:#d66e61;
}
.block-link-blue {
  background-color: #2d9dab;
  text-shadow:1px 1px 0px #18535a; /* -6 from #2d9dab */
}
.block-link-blue:hover {
  background-color: #31a9b8;
}
.block-link [class^="icon-"],
.block-link [class*=" icon-"] {
  line-height: 30px;
}
