<% @title = "Contact" %>
<% @meta_description = "Contact Justin Wilson." %>

<div class="mx-auto max-w-3xl text-2xl">
  <h1 class="text-8xl font-bold text-rose-500">Contact</h1>
  <p>Email: justin(at)jwils.co</p>
  <p>GitHub: <a href="https://github.com.com/jwilsjustin" class="underline" target="_blank">@jwilsjustin</a></p>
  <p>Twitter: <a href="https://twitter.com/jwilsjustin" class="underline" target="_blank">@jwilsjustin</a></p>
</div>
