<% @title = "Contact" %>
<% @meta_description = "Contact Justin Wilson." %>

<div class="mx-auto max-w-3xl text-2xl">
  <h1 class="text-8xl font-bold text-rose-500">Contact</h1>
  <table>
    <tbody>
      <tr>
        <td>
          <h2>GitHub</h2>
        </td>
        <td>
          <h2>
            <a href="https://github.com.com/jwilsjustin" target="_blank">@jwilsjustin</a>
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Twitter</h2>
        </td>
        <td>
          <h2>
            <a href="https://twitter.com/jwilsjustin" target="_blank">@jwilsjustin</a>
          </h2>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Let's talk.</h2>
  <p>
    Whether it's Rails, Javascript, TDD, or even whatever home project I'm
    working on. I'd be happy to chat.
  </p>
</div>
