.container#portfolio
  .row
    = partial "shared/sweet_nav"
  .spacer
  .row
    .span10
      #mc2fqy5m4f6yf
        a href="https://staging.moonclerk.com/pay/2fqy5m4f6yf" MoonClerk Checkout
      javascript:
        var mc2fqy5m4f6yf;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"2fqy5m4f6yf","width":"100%","host":"staging.moonclerk.com","ssl":true};s.src='https://d4m3xhfao1kky.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc2fqy5m4f6yf=new MoonclerkEmbed(opts);mc2fqy5m4f6yf.display();} catch(e){console.error('[MC]', e)}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');

  .row
    .span10
      div style="padding-top: 1000px;"
