<% @title = "Portfolio" %>
<% @meta_description = "Justin Wilson's work." %>

<div class="mx-auto max-w-3xl text-2xl">
  <h1 class="text-8xl font-bold text-rose-500">Design Portfolio</h1>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/logos1.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/stetson.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/beyond.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/shirts.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/alchemist.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/amote.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/chai.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/technicolor.jpg">
  </div>
  <div class="mt-16">
    <img class="thumbnail" src="//jwilsco.s3.amazonaws.com/images/joe.jpg">
  </div>
</div>
