- @title = "Portfolio"
- @meta_description = "Justin Wilson's work."

.container#portfolio
  .row
    = partial "shared/sweet_nav"
  .spacer
  .row
    .span9
      h1.light-header.turquoise Design Portfolio
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/logos1.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/stetson.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/beyond.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/shirts.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/alchemist.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/amote.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/chai.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/technicolor.jpg" class="thumbnail"
  .spacer
  .row
    .span9.section
      img src="//jwilsco.s3.amazonaws.com/images/joe.jpg" class="thumbnail"
.row.spacer
