- @title = "Resume"
- @meta_description = "Justin Wilson's resume."

.container
  .row
    = partial "shared/sweet_nav"
  .spacer
  .row
    .span9
      h1.light-header.salmon Resume
  .spacer

  .row
    .span9
      p Hailing from the great city of Greenville in upstate South Carolina.

  .row
    .span8.section
      h2 Professional Experience
      .item
        p
          strong Audiogon
          br
          em Senior Developer/Team Leader
        blockquote
          p.subtle
            | I built and maintained web features for the High-End Audio Community. Additionally, I helped rebuild legacy sites. I utilized full-stack web development skills.
        p March 2013 - October 2018
      .item
        p
          strong Dealer Ignition
          br
          em Designer/Developer
        blockquote
          p.subtle
            | I helped design, build, and implement web software. I also designed materials and participated in marketing efforts to promote various Dealer Ignition products.
        p December 2010 - March 2013
  .row
    .span8.section
      h2 Technology
      .item
        .row
          .span4
            p
              strong Code
              ul
                li Ruby, Rails, Rspec, Sidekiq
                li HTML/CSS
                li Javascript, jQuery
                li PostgreSQL, <a href="https://www.citusdata.com/" target="_blank">Citus</a>
                li Redis
          .span4
            p
              strong Tools &amp; Infrastructure
              ul
                li GitHub, GitLab
                li
                  a href="https://www.heroku.com" target="_blank"
                    | Heroku
                li
                  a href="https://aws.amazon.com/elasticbeanstalk" target="_blank"
                    | AWS Elastic Beanstalk
                li
                  | Linux/Unix, Bash
  .row
    .span8.section
      h2 Education
      .item
        p
          strong B.S. Graphic Design<br />
          em Minor: Rhetoric &amp; Public Address
          br
          span.subtle Graduate Cum Laude
        p
          | Bob Jones University
          br
          | May 2011
      .item
        p
          strong Bob Jones University Community Service Council
          br
          em Executive Council Member
        p March 2008 - May 2011

  .row.spacer
